.footer {
    background: #0F407B;
    min-height: 50px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        margin: 0;
        text-indent: 0px;
        color: #FFFFFF;
    }
}
